#header_photo{
    width: 150px;
    height: 150px;
}

.reklama, #link, #link:hover{
    color: white;
    font-weight: bold;
    font-size: 25px;
    vertical-align: center;
    margin-top: 22px;
    text-decoration: none;
}

#login{
    color: white;
    padding-top: 38px;
}

#login1{
    color: black;
    margin-bottom: 0;
}

/*.col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
}

.levo{
    background-color: black;
    height:400px;
    color: white;
}

a, a:visited{
    color: white;
}*/

.header{
    background-color: darkred;
}


.footer{
    background-color: darkred;
    text-align: center;
    color: white;
}

#menu{
    color: black;
    text-align:center;
    font-size: 18;
    padding-left: 0;
    padding-right: 0;
}

#ipsum{
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
}

a{
    color:black;
    font-weight:500;
}

a:hover{
    text-decoration: underline;
    color:darkred;
    font-weight: bold;
}

#servisi{
    text-align: center;
}

.splide{
    margin:auto;
    width: 50%;

}

.splide__slide img {
	width : 100%;
}

#kontakt{
    text-align: center;
}

#kontakt1{
    font-weight: initial;
}

#kontakt1:hover{
    color: black;
    text-decoration: none;
}